.resume-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.timeline {
    background-color: var(--container-color);
    padding: 1.875rem;
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: var(--shadow);
}

.timeline-item {
    position: relative;
    padding: 0 0 3.125rem 3.125rem;
}

.timeline-item:last-child {
    padding-bottom: 0;
}

.timeline-item::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    position: absolute;
    left: 0.25rem;
    top: 0;
}

.timeline i {
    position: absolute;
    left: -0.4375rem;
    top: 17px;
    font-size: var(--h2-fs);
    color: var(--first-color);
    background-color: var(--container-color);
    padding: 0.4375rem 0;
}

.timeline-date {
    color: #8b88b1;
    font-size: var(--small-fs);
}

.timeline-title {
    font-size: var(--h3-fs);
    margin: 1rem 0;
}