.about-container {
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;
}

.about-data {
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
    align-items: flex-start;
    position: relative;
}

.about-data::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid var(--container-color);
    position: absolute;
    left: -0.9rem;
    top: 20%;
}

.about-description {
    margin-bottom: 1rem;
    text-align: justify;
}

.about-skills {
    row-gap: 1.25rem;
}

.btn-about {
    animation: rotate-scale-up 0.65s linear both;
}

@keyframes rotate-scale-up {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }

    50% {
        -webkit-transform: scale(2) rotateZ(180deg);
        transform: scale(2) rotateZ(180deg);
    }

    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}

.skills-titles {
    display: flex;
    margin-bottom: 1rem;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.skills-name {
    font-size: var(--normal-fs);
    font-weight: var(--font-medium);
    margin-bottom: 1rem;
}

.skills-number {
    line-height: 1.2;
}

.skills-bar,
.skills-percentage {
    height: 7px;
    border-radius: 0.25rem;
}

.skills-bar {
    background-color: #f1f1f1;
}

.skills-percentage {
    display: block;
}

.about-boxes {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875rem;
    margin-top: 4.25rem;
}

.about-box {
    display: flex;
    column-gap: 1.5rem;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    background: var(--container-color);
    transition: all 0.5s ease-in-out;
    box-shadow: var(--shadow);
}

.about-box:hover {
    transform: translateY(-5px);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


.about-icon {
    font-size: var(--h1-fs);
    color: #dedeea;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgb(234 231 233);
    padding-right: 1rem;
}

.about-title {
    font-size: 1.875rem;
}

@media screen and (max-width: 600px) {
    .about-container, .about-boxes {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        row-gap: 1.5rem;
    }

    .about-img {
        width: 200px;
        height: 200px;
    }

    .skills-data {
        width: 100%;
    }

    .skills-name {
        margin-bottom: 0;
    }

    .about-skills {
        row-gap: 3rem;
    }

    .about-data::before {
        display: none;
    }
    .about-boxes{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .about-box{
        width: 100%;
    }
}