.home {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    max-width: 1024px;
    text-align: center;
    z-index: 1000;
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 2rem;
    align-items: center;
    justify-items: center;
}

.home-img {
    /* margin-bottom: 1.5rem; */
}

.home-name {
    font-size: var(--h1-fs);
    font-weight: var(--font-bold);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.home-education{
    font-size: var(--h3-fs);
}
.home-socials {
    display: grid;
    column-gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}

.home-socials-link {
    color: var(--title-color);
    font-size: 1.3rem;
    transition: all 0.4s linear;
}

.home-socials-link:hover {
    color: hsl(43, 100%, 68%);
}

.scroll-down {
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    width: 100%;
}

.home-scroll-name {
    font-size: var(--small-fs);
}

.mouse {
    display: block;
    height: 1.6rem;
    width: 1.25rem;
    margin: auto;
    margin-top: 0.75rem;
    border-radius: 1rem;
    position: relative;
}

.wheel {
    position: absolute;
    font-size: 1.5rem;
    left: 30%;
    transform: translateX(-50%);
    animation: mouse 2s linear infinite;
    transition: all 2s linear;
}

@keyframes mouse {
    0% {
        top: 0%;
    }

    15% {
        top: 45%;
    }

    50% {
        top: 45%;
    }

    100% {
        top: 0%;
    }
}

.shapes {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.shape {
    position: absolute;
}

.s1 {
    left: 2%;
    top: 2%;
}

.s2 {
    left: 18%;
    top: 30%;
}

.s3 {
    left: 5%;
    bottom: 30%;
}

.s4 {
    left: 2%;
    bottom: 2%;
}

.s5 {
    left: 48%;
    top: 7%;
}

.s6 {
    left: 36%;
    bottom: 10%;
}

.s7 {
    top: 20%;
    right: 25%;
}

.s8 {
    right: 24%;
    bottom: 20%;
}

.s9 {
    right: 2%;
    top: 10%;
}

.s10 {
    top: 45%;
    right: 11%;
}

.s11 {
    bottom: 10%;
    right: 2%;
}