.aside {
    position: fixed;
    top: 0;
    background: var(--body-color);
    border-bottom: 1px solid rgb(0 0 0 / 18%);
    padding: 1rem;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10000;
    text-align: center;
    align-items: center;
}

.nav-list{
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
}

.nav-link{
    font-size: 1.5rem !important;
    color: var(--title-color);
    font-size: var(--font-bold);
    transition: all 0.4s linear;
}

.nav-link.active {
    color: hsl(43, 100%, 68%);
    font-weight: bold;
  }

.nav-link:hover {
    color: hsl(43, 100%, 68%);
}
.nav-footer{
    display: flex;
    
}
.copyright{
    color: hsl(245, 15%, 65%);
    font-size: var(--small-fs);
    /* transform: rotate(-180deg);
    writing-mode: vertical-rl; */
}