.main{
    margin-top: 100px;
    padding: 1rem;
    height: calc(100vh - 100px);
    /* width: 100vw; */
}


.timeline {
    background-color: var(--container-color);
    padding: 1.875rem;
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: var(--shadow);
}

.timeline-item {
    position: relative;
    padding: 0 0 3.125rem 3.125rem;
}

.timeline-item:last-child {
    padding-bottom: 0;
}

.timeline-item::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    position: absolute;
    left: 0.25rem;
    top: 0;
}

.timeline i {
    position: absolute;
    left: -0.4375rem;
    top: 17px;
    font-size: var(--h2-fs);
    color: var(--first-color);
    background-color: var(--container-color);
    padding: 0.4375rem 0;
}

.timeline-date {
    color: #8b88b1;
    font-size: var(--small-fs);
}

.timeline-title {
    font-size: var(--h3-fs);
    margin: 1rem 0;
}

/* Back to top */

.btn-BackToTop {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 99;
    border: none;
    outline: none !important;
    background-color: var(--first-color);;
    color: var(--container-color);
    cursor: pointer;
    padding: 15px 10px 0px 20px;
    border-radius: 100px 0px 0px;
    font-size: 25px;
    transition: all 0.3s linear;
}

.btn-BackToTop:hover {
    background-color: var(--second-color);
}

.hidden-btn-btt {
    -webkit-animation: scale-out-br 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: scale-out-br 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes scale-out-br {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 0;
        display: none !important;
    }
}

@keyframes scale-out-br {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 0;
        display: none !important;
    }
}

.show-btn-btt {
    -webkit-animation: scale-in-br 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-br 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    display: block !important;
}

@-webkit-keyframes scale-in-br {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 0.5;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 1;
    }
}

@keyframes scale-in-br {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 0.5;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .btn-BackToTop {
        /* padding: 10px auto;
        font-size: 15px; */
    }
}

@media (max-width: 900px) {
    .btn-BackToTop {
        /* padding: auto;
        font-size: 15px; */
    }
}

/* End back to top */